<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kLeftMenuArray</key>
	<array>
		<dict>
			<key>kTableViewCellName</key>
			<string>个人</string>
			<key>kViewControllerIdentifier</key>
			<string>kPersonalViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kTableViewCellName</key>
			<string>推荐活动</string>
			<key>kViewControllerIdentifier</key>
			<string>kEventInfoViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kTableViewCellName</key>
			<string>校园资讯</string>
			<key>kViewControllerIdentifier</key>
			<string>kCampusViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
