WeTongji/WeTongji.xcodeproj/xcuserdata/
WeTongji/WeTongji.xcodeproj/project.xcworkspace/xcuserdata/
WeTongjiSDK/WeTongjiSDK.xcodeproj/
WeTongjiSDK/WeTongjiSDKtest/

*.xcuserstate


.DS_Store

WeTongji/Default@2x.png
